* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "windsurf secondary";
    src: url("https://windsurf.com/_next/static/media/13971731025ec697-s.p.woff2");
}

@font-face {
    font-family: "windsurf primary";
    src: url("3ecc75a922018515-s.p.woff2");
}

::selection {
    background-color: var(--secondary-color);
    color: black;
}

:root {
    --primary-color: #011c42;
    --secondary-color: #4dedcd;
    --font-primary: "Windsurf primary";
    --font-secondary: "Windsurf secondary";
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #011c42;
    height: 12vh;
    padding-left: 7vw;
    align-items: center;
    font-family: "windsurf secondary";
    /* border: 2px solid red; */
    /* font-size: 16px; */
}

.img-logo {
    width: 160px;
}

header a {
    font-size: 14px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #ffffff;
}

nav {
    display: flex;
    gap: 40px;
}

nav a {
    padding: 8px;
    border-radius: 8px;
}

nav a:hover {
    background-color: #ffffff33;

}

nav a i {
    transition: all 0.15s ease-in-out;
}

nav a:hover i {
    transform: rotate(180deg);
}

/* -------------------------------------------------------------------- */
/* nav display */

nav .link-1 {
    position: relative;
}

nav .link-1 .box-1 {
    position: absolute;
    width: 530px;
    height: 200px;
    background-color: rgb(252, 242, 229);
    top: 50px;
    border-radius: 4px;
    display: none;

}

nav .hover-class {
    height: 12vh;
    display: flex;
    align-items: center;
}

/* a:hover */
nav .hover-class:hover .box-1 {
    padding: 8px;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

nav .link-1 .box-1 .box-1-left {
    width: 100%;
    height: 100%;
    background-color: rgb(252, 242, 229);
    border: 1px solid black;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
}

nav .link-1 .box-1 .box-1-left h3 {
    color: #666;
}

nav .link-1 .box-1 .box-1-left span {
    color: black;
    line-height: 2.0;
    font-weight: 500;
    font-size: 16px;

}

nav .link-1 .box-1 .box-1-left span p {
    color: rgb(89, 89, 89);
    font-size: 14px;
}


/* right side start*/
nav .link-1 .box-1 .box-1-right {
    padding-left: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(252, 242, 229);
    border: 1px solid black;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-left: 20px;
}


nav .link-1 .box-1 .box-1-right h3 {
    color: #666;
}

nav .link-1 .box-1 .box-1-right span {
    color: black;
    line-height: 2.0;
    font-weight: 500;
    font-size: 16px;

}

nav .link-1 .box-1 .box-1-right span p {
    color: rgb(89, 89, 89);
    font-size: 14px;
}

/* right side end  */


/* link-2 start */
nav .link-2 {
    position: relative;
}

nav .link-2 .box-2 {
    position: absolute;
    width: 375px;
    height: 200px;
    background-color: rgb(252, 242, 229);
    top: 50px;
    border-radius: 4px;
    display: none;

}

/* a:hover */
nav .hover-class:hover .box-2 {
    padding: 8px;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

nav .link-2 .box-2 .box-2-left {
    width: 100%;
    height: 100%;
    background-color: rgb(252, 242, 229);
    border: 1px solid black;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
}

/* nav .link-2 .box-2 .box-2-left h3 {
    color: #666;
} */

nav .link-2 .box-2 .box-2-left span {
    color: black;
    line-height: 2.0;
    font-weight: 500;
    font-size: 16px;


}

nav .link-2 .box-2 .box-2-left span p {
    color: rgb(89, 89, 89);
    font-size: 14px;
}


/* link-2 end */

/* link-3 start */
nav .link-3 {
    position: relative;
}

nav .link-3 .box-3 {
    position: absolute;
    width: 210px;
    height: 400px;
    background-color: rgb(252, 242, 229);
    top: 50px;
    border-radius: 4px;
    display: none;

}

/* a:hover */
nav .hover-class:hover .box-3 {
    padding: 8px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

nav .link-3 .box-3 .box-3-left {
    width: 100%;
    height: 100%;
    background-color: rgb(252, 242, 229);
    border: 1px solid black;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
    color: #000000;
    font-size: 14px;
}

/* link-3 end */

/* link-4 start */

nav .link-4 {
    position: relative;
}

nav .link-4 .box-4 {
    position: absolute;
    width: 200px;
    height: 300px;
    background-color: rgb(252, 242, 229);
    top: 50px;
    border-radius: 4px;
    display: none;

}

/* a:hover */
nav .hover-class:hover .box-4 {
    padding: 8px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

nav .link-4 .box-4 .box-4-left {
    width: 100%;
    height: 100%;
    background-color: rgb(252, 242, 229);
    border: 1px solid black;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
    color: #000000;
    font-size: 14px;
}


/* @media (width <=1200px) {
    nav {
        display: none;
    }

} */

/* nav .link-4 .box-4:hover {
    display: block;
    background-color: #ffffff33;


    i am getting problem for hover on items of block which already appear when i hover on nav item....
} */

/* link-4 end */

/* -------------------------------------------------------------------- */
.user-logo {
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    margin: 2px;
}

.user-logo-border {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* border: 2px solid #34e8bb; */
    border: 2px solid transparent;
    transition: border 0.15s ease-in-out;
}

.user-logo-border:hover {
    border: 2px solid #34e8bb;
}

.header-right {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
}

.download-bg {
    display: flex;
    background-color: #34e8bb;
    padding: 0 40px;
    height: 100%;
    align-items: center;
    justify-content: center;

}

.download-btn {
    color: black;
    text-transform: uppercase;
}

/* header section end........... */

/* main section start.............................. */
main {
    background-color: #011c42;
    width: 100%;
    height: 88vh;
    /* border: 2px solid red; */
}

.hero-section {
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 64px 0 128px 0;
    margin: 0 7%;

}

.hero-content {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 64px;
    /* border: 2px solid red; */
}

.hero-content>h1 {
    color: #ffffff;
    font-size: 72px;
    line-height: 100%;
    font-weight: 300;
    font-family: "windsurf primary";

}

.hero-buttons {
    display: flex;
    gap: 16px;
}

.hero-buttons .button {
    font-size: 18px;
    font-family: "windsurf secondary";
    border: none;
    font-weight: 500;
    border-radius: 2px;

}

.hero-buttons .btn-1 {
    padding: 16px 20px 16px 24px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #34e8bb;
    color: #0b100f;
    width: 274px;
    transition: border 1s ease-in-out;

}

.hero-buttons .btn-2 {
    width: 240px;
    padding: 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff1a;
    color: #ffffff;
    /* border: 1px solid #ffffff; */
    box-shadow: 0 0 1px #ffffff;
    transition: border 1s ease-in-out;

}

.hero-buttons .btn-1:hover {
    background-color: #00ffbf;
}

.hero-buttons .btn-2:hover {
    background-color: #ffffff26;
}

.hero-section .hero-para {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.hero-section .hero-para .para-point {
    width: 6px;
    height: 6px;
    background-color: #34e8bb;
}

.hero-section .hero-para {
    font-size: 20px;
    color: #ffffff;
    font-family: "windsurf secondary";
}


/* main section end.............................. */

/* making responsive website start for mobile..... */

header a .mobile-logo {
    display: none;
}

@media (width<=1200px) {
    header a .img-logo {
        display: none;
    }

    header a .mobile-logo {
        display: block;
        width: 60px;
    }


}

.header-right .mobile-options {
    display: none;
}

@media (width <=1024px) {
    header {
        height: 8vh;
        padding-left: 20px;
    }

    main {
        height: 92vh;
    }

    main .hero-section {
        padding-top: 0;
        margin: 0;
    }

    nav {
        display: none;
    }

    .header-right .user-logo-border,
    .download-bg {
        display: none;
    }

    .header-right .mobile-options {
        background-color: #34e8bb;
        height: 100%;
        width: 8vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


@media (width<=768px) {
    .hero-content h1 {
        font-size: 40px;
    }

    .hero-content p {
        font-size: 20px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .hero-buttons .button {
        width: 100%;
    }
}

/* making responsive website end for mobile....... */

/* marquee-section start ........................ */

.marquee-section {
    padding-top: 40px;
    margin: 0;
    /* border: 2px solid red; */
    display: flex;
    overflow: hidden;
    background-color: var(--primary-color);
    height: 20vh;
}

.marquee-content {
    display: flex;
    align-items: center;
    gap: 40px;
    animation: marquee-animation 28s linear infinite;

}

@keyframes marquee-animation {
    from {
        translate: 0%;
    }

    to {
        translate: -100%;
    }
}

.marquee-content img {
    width: 80px;
}

/* marquee-section end .......................... */